{{!-- 
accordion item options:
	isOpen: boolean
--}}

<div style="height:100vh; background-color:darkcyan;">
	<portfolio-accordion data-resources="[{paths: ['components/portfolio-accordion/index.js']}]">
		<portfolio-accordion-items
			data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
			<span slot="heading">address</span>
			<p slot="text">
				Christoph Saile <br>
				Im Brühl 15 <br>
				72108 Rottenburg
			</p>
		</portfolio-accordion-items>
		<portfolio-accordion-items
			data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
			<span slot="heading">phone</span>
			<p slot="text">
				+49 1578 2278711
			</p>
		</portfolio-accordion-items>
		<portfolio-accordion-items
			data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
			<span slot="heading">e-mail</span>
			<p slot="text">
				christoph.saile@gmail.com
			</p>
		</portfolio-accordion-items>
	</portfolio-accordion>
</div>