@import "settings/settings";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

body {
	background: url('../../_assets/background_pattern.svg');
	background-size: cover;
}

#aboutMe,
#contact,
#timeline {
	position: relative;
}

.fullpage {
	height: 100vh;
	padding: 0 6rem 0 2rem;

	@include breakpoint($medium) {
		padding: 0 8rem 0 4rem;
	}

	&--autoLength {
		height: auto;
		min-height: 100vh;
	}

	&--center {
		display: flex;

		portfolio-intro {
			width: 100%;
			max-width: $xxlarge;
			margin: auto;
		}

		portfolio-about-me {
			width: 100%;
			max-width: $xxlarge;
			margin: 0 auto;
		}

		portfolio-timeline {
			margin: auto;

			@include breakpoint($wide) {
				max-width: $ultraWide;
				padding: 0 4rem;
			}
		}

		portfolio-contact {
			width: 100%;
			max-width: $xxlarge;
			margin: 0 auto;
		}
	}
}

//Init loading animation

.initLoader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: $black;
	z-index: 1000;
	opacity: 1;
	transition: opacity 1.5s linear 1.5s;

	&.active {
		display: flex;
	}

	&.fadeOutBackground {
		opacity: 0;
	}

	&__intro {
		display: none;
		width: 100%;
		max-width: $xxlarge;
		margin: auto;
		padding: 0 6rem 0 2rem;
		animation: fadeInOut 3s linear;

		@include breakpoint($medium) {
			padding: 0 8rem 0 4rem;
		}

		&.active {
			display: flex;
		}

		svg {
			max-height: 70vh;
			width: 100%;
			height: 100%;

			.cls-1 {
				fill: $white
			}

			.cls-2 {
				fill: none;
				stroke: $white
			}
		}

		@keyframes fadeInOut {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}