@import "defaultSassImports.scss";

////LAYOUT
////DEFAULT
* {
	scroll-behavior: smooth;
}
.grid {
	display: grid;

	&__default {
		grid-template-columns: 6% 1fr 6%;
		grid-template-rows: 5vh 95vh;
		max-width: $content-max-width;
		margin: 0 auto;

		@include breakpoint($small) {
			grid-template-rows: 10vh 90vh;
		}
		footer & {
			grid-template-rows: 1fr;

			.container {
				grid-row-start: 1;
			}
		}
		.container {
			grid-column-start: 2;
			grid-row-start: 2;

			.container {
				grid-column-start: unset;
				grid-row-start: unset;
			}
		}
	}
	&__autoHeigth {
		grid-template-columns: 6% 1fr 6%;
		grid-template-rows: 5vh auto;
		min-height: 100vh;
		max-width: $content-max-width;
		margin: 0 auto;

		@include breakpoint($small) {
			grid-template-rows: 10vh auto;
		}
		.container {
			grid-column-start: 2;
			grid-row-start: 2;
		}
	}
	&__3col {
		grid-template-columns: 1fr;
		column-gap: 10px;
		row-gap: 15px;

		@include breakpoint($small) {
			grid-template-columns: 1fr 1fr;
		}
		@include breakpoint($medium) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
.center {
	margin: auto;
	&--hor {
		margin: 0 auto;
	}
	&--ver {
		margin: auto 0;
	}
	&--text {
		text-align: center;
	}
}

////LAYOUT
////SPECIFIC
.vita {
	margin-top: 3rem;
	margin-bottom: 4rem;

	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 1rem;
		padding: 1rem;

		@include breakpoint($small) {
			width: 55%;
			margin-top: 2rem;
			padding: 3rem;
		}
		&--left {
			margin-right: auto;
			background: $white;
		}
		&--right {
			margin-left: auto;
			align-items: flex-end;
			text-align: right;
			background: $turquoise
		}
	}
	&__number {
		display: inline-block;
		width: fit-content;
		margin-bottom: (4rem / 1.5 / 2); ;
		margin-top: (4rem / 1.5 / 2);
		font-size: (4rem / 1.5);
		line-height: 0.3;
		background-color: $turquoise;

		@include breakpoint($medium) {
			margin-top: (4rem / 1.25/ 2);
			font-size: (4rem / 1.25);
		}
		@include breakpoint($large) {
			margin-top: (4rem / 2);
			font-size: 4rem;
		}
	}
}
.contact {
	.fix-width {
		@include breakpoint($small) {
			max-width: 50vw;
		}
		@include breakpoint($medium) {
			max-width: 25vw;
		}
	}
}

////BACKGROUNDS
.landingPage,
.cg,
.contact {
	background: $turquoise;
	color: $black;
}
.aboutMe,
.prog {
	color: $black;
	background: $coral;
}
footer {
	height: 10vh;
	position: relative;
}
