{{!-- 
Accordion options:
	modifier: string
		accordion--coral
		accordion--turquoise
--}}

<div style="display: grid; grid-template-columns: 1fr 1fr;">
	<new-accordion modifier="accordion--coral" data-resources="[{paths: ['components/NewAccordion/index.js']}]">
		<heading-comp no-margin type="h2" text="3D - Animation"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<article class="accordion__item">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam
					ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
					consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
		<article class="accordion__item hidden">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam
					ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
					consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
		<article class="accordion__item hidden">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam
					ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
					consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
	</new-accordion>
</div>
<div style="display: grid; grid-template-columns: 1fr 1fr;">
	<heading-comp no-margin type="h2" text="Programming"
		data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<new-accordion style="grid-column-start: 2" modifier="accordion--turquoise"
		data-resources="[{paths: ['components/NewAccordion/index.js']}]">
		<article class="accordion__item">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
		<article class="accordion__item hidden">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
		<article class="accordion__item hidden">
			<header class="accordion__header">
				<span class="accordion__icon"></span>
				<heading-comp no-margin type="h4" text="Test Heading h4"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
			</header>
			<div class="accordion__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo quisquam ex!
					Illo,
					soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae consequuntur
					adipisci. Ipsum, impedit.</p>
			</div>
		</article>
	</new-accordion>
</div>