<my-vita theme="vita__container--white" position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
	<span class="vita__number">09/2018 - Heute</span>
	<heading-comp type="h3" text="Bachelor of Science OnlineMedien"
		data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<p>Hochschule für Digitale Medien in Furtwangen</p>
</my-vita>
<my-vita theme="vita__container--turquoise" position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
	<span class="vita__number">09/2019 - 02/2020</span>
	<heading-comp type="h3" text="Praxissemester" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<p>Virtual Identity AG - Freibrug</p>
</my-vita>
<my-vita theme="vita__container--white" position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
	<span class="vita__number">09/2015 - 06/2018</span>
	<heading-comp type="h3" text="Ausbildung zum Industriekaufmann"
		data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<p>Beton Kemmler GmbH - Hirschau</p>
</my-vita>
<my-vita theme="vita__container--turquoise" position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
	<span class="vita__number">09/2014 - 08/2015</span>
	<heading-comp type="h3" text="Bundesfrei-" second-line="willigendienst"
		data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<p>Klinik für Urologie - Tübingen, Verwaltung</p>
</my-vita>
<my-vita theme="vita__container--white" position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
	<span class="vita__number"> 2006 - 2014</span>
	<heading-comp type="h3" text="Allgemeine Hochschulreife"
		data-resources="[{paths: ['components/HeadingComp/index.js']}]">
	</heading-comp>
	<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
</my-vita>