@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-arrow-nav") {
	.showMore {
		position: fixed;
		right: 2rem;
		bottom: 0;
		display: flex;
		flex-direction: column;
		padding-bottom: 0.5rem;
		transition: all $transition-default;

		@include breakpoint($medium) {
			right: 4rem;
		}

		&__icon {
			fill: $black;
			margin-bottom: 1.3rem;
			transition: all 0.2s ease-in-out;
		}

		&__text {
			color: $green;
			height: 0;
			width: 0;
			padding-bottom: 1.3rem;
			writing-mode: vertical-lr;
			font-size: 2rem;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.2s ease-in-out, height 0s, visibility 0s;

			&.showText {
				height: auto;
				width: auto;
				opacity: 1;
				visibility: visible;
			}
		}
		
		.arrowUp {
			.showMore__icon {
				transform: rotate(180deg);
			}
		}

		.changeColor,
		.changeColorScroll {
			.showMore__icon {
				fill: $white;
			}
		}

		&.menuOpen {
			.showMore__text {
				color: $white;
			}

			.showMore__icon {
				fill: $white;
			}
		}
	}
}
