<div class="fullpage fullpage--center">
    <portfolio-contact imgName="contact.jpg" imgAlt="telephone booth" style="width: 100%; max-width: 1440px; margin: 0 auto"
        data-resources="[{paths: ['components/portfolio-contact/index.js']}]">
        <portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
            adresse
        </portfolio-headline>
        <p>
            Christoph Saile <br>
            Im Brühl 15 <br>
            72108 Rottenburg
        </p>
        <portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
            phone
        </portfolio-headline>
        <p>
            +49 1578 2278711
        </p>
        <portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
            e-mail
        </portfolio-headline>
        <p>
            christoph.saile@gmail.com
        </p>
    </portfolio-contact>
</div>