<div style="padding: 0 6%;">
	<div style="background-color: grey;">
		<heading-comp type="h1" text="Test Heading h1" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<heading-comp type="h2" text="Test Heading h2" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<heading-comp type="h3" text="Test Heading h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<heading-comp type="h4" text="Test Heading h4" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<heading-comp type="h5" text="Test Heading h5" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
	</div>
	<div>
		<heading-comp type="h2" text="Text with" second-line="second line"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<heading-comp type="h3" text="Text with" second-line="second line"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
	</div>
	<div style="background-color: grey;">
		<heading-comp type="h1" has-style text="Styled Heading h1"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]"></heading-comp>
		<heading-comp type="h2" has-style text="Styled Heading h2"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]"></heading-comp>
		<heading-comp type="h3" has-style text="Styled Heading h3"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]"></heading-comp>
		<heading-comp type="h4" has-style text="Styled Heading h4"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]"></heading-comp>
		<heading-comp type="h5" has-style text="Styled Heading h5"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]"></heading-comp>
	</div>
</div>