<div style="height: 100vh; background-color:cornflowerblue"></div>
<div id="aboutMe" style="height: 100vh; background-color: white; display:flex;">
    <portfolio-about-me style="margin: auto" img-name="wood.jpg" img-alt="abstract wood" data-resources="[{paths: ['components/portfolio-about-me/index.js']}]">
        <portfolio-headline half vertical type="h2" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
            about Me
        </portfolio-headline>
        <p>
            Hello, my name is Christoph Saile and I am currently studying OnlineMedien (B.sc.) at the University of
            Furtwangen.<br>
            I am interested in webdevelopment, design and 3D - animations.<br>
            If you have any questions about me feel free to contact me.
        </p>
    </portfolio-about-me>
</div>
<div style="height: 100vh; background-color:cornflowerblue"></div>