{{!-- 
Heading options:
	type: string 
		h1, h2, h3, h4, h5
	has-style: boolean
	no-margin: boolen
--}}

<div style="padding: 0 6%;">
	<h1 style="color: black; background: white">Normal Headings</h1>
	<div style="margin: 2rem 0">
		<portfolio-headline type="h1" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Test Heading h1
		</portfolio-headline>
		<portfolio-headline type="h2" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Test Heading h2
		</portfolio-headline>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Test Heading h3
		</portfolio-headline>
		<portfolio-headline type="h4" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Test Heading h4
		</portfolio-headline>
	</div>
	<h1 style="color: black; background: white">Half Headings</h1>
	<div style="margin: 2rem 0">
		<portfolio-headline type="h1" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h1
		</portfolio-headline>
		<br>
		<portfolio-headline type="h2" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h2
		</portfolio-headline>
		<br>
		<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h3
		</portfolio-headline>
		<br>
		<portfolio-headline type="h4" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h4
		</portfolio-headline>
	</div>
	<h1 style="color: black; background: white">Half-Inline Headings</h1>
	<div style="margin: 2rem 0">
		<portfolio-headline type="h1" half-inline data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h1
		</portfolio-headline>
		<br>
		<portfolio-headline type="h2" half-inline data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h2
		</portfolio-headline>
		<br>
		<portfolio-headline type="h3" half-inline data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h3
		</portfolio-headline>
		<br>
		<portfolio-headline type="h4" half-inline data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h4
		</portfolio-headline>
	</div>
		<h1 style="color: black; background: white">Half-Inline vertical Headings</h1>
	<div style="margin: 2rem 0">
		<portfolio-headline type="h1" half-inline vertical data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h1
		</portfolio-headline>
		<br>
		<portfolio-headline type="h2" half-inline vertical data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h2
		</portfolio-headline>
		<br>
		<portfolio-headline type="h3" half-inline vertical data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h3
		</portfolio-headline>
		<br>
		<portfolio-headline type="h4" half-inline vertical data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Styled Heading h4
		</portfolio-headline>
	</div>
</div>