@font-face {
	font-family: "ralewaylight";
	src: url("../fonts/raleway-light-webfont.woff2") format("woff2"),
		url("../fonts/raleway-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ralewaymedium";
	src: url("../fonts/raleway-medium-webfont.woff2") format("woff2"),
		url("../fonts/raleway-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "halfregular";
	src: url("../fonts/half-webfont.woff2") format("woff2"),
		url("../fonts/half-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "half_boldregular";
	src: url("../fonts/half-bold-webfont.woff2") format("woff2"),
		url("../fonts/half-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "half_inlineregular";
	src: url("../fonts/half-inline-webfont.woff2") format("woff2"),
		url("../fonts/half-inline-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "half_regularregular";
	src: url("../fonts/half-regular-webfont.woff2") format("woff2"),
		url("../fonts/half-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
