@font-face {
	font-family: "Gilroy-ExtraBold";
	src: url("../fonts/Gilroy-ExtraBold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/Gilroy-ExtraBold.otf") format("opentype"),
		/* Open Type Font */ url("../fonts/Gilroy-ExtraBold.svg") format("svg"),
		/* Legacy iOS */ url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/Gilroy-ExtraBold.woff")
			format("woff"),
		/* Modern Browsers */ url("../fonts/Gilroy-ExtraBold.woff2")
			format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy-Light";
	src: url("../fonts/Gilroy-Light.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/Gilroy-Light.otf") format("opentype"),
		/* Open Type Font */ url("../fonts/Gilroy-Light.svg") format("svg"),
		/* Legacy iOS */ url("../fonts/Gilroy-Light.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/Gilroy-Light.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/Gilroy-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
