{{!-- 
portfolio-my-vita Options:
	scroll-animation: string
		- "left"
		- "right"
	theme: string
		- "vita__container--turquoise"
		- "vita__container--white"
	position: string
		- "vita__container--left"
		- "vita__container--right" 
--}}

<portfolio-my-vita scroll-animation="left" theme="vita__container--white" position="vita__container--left"
	data-resources="[{paths: ['components/portfolio-my-vita/index.js']}]">
	<span class="vita__number">09/2018 - Heute</span>
	<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
		Bachelor of Science OnlineMedien
	</portfolio-headline>
	<p>Hochschule für Digitale Medien in Furtwangen</p>
</portfolio-my-vita>
<portfolio-my-vita scroll-animation="right" theme="vita__container--turquoise" position="vita__container--right"
	data-resources="[{paths: ['components/portfolio-my-vita/index.js']}]">
	<span class="vita__number">09/2019 - 02/2020</span>
	<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
		Praxissemester
	</portfolio-headline>
	<p>Virtual Identity AG - Freibrug</p>
</portfolio-my-vita>
<portfolio-my-vita scroll-animation="left" theme="vita__container--white" position="vita__container--left"
	data-resources="[{paths: ['components/portfolio-my-vita/index.js']}]">
	<span class="vita__number">09/2015 - 06/2018</span>
	<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
		Ausbildung zum Industriekaufmann
	</portfolio-headline>
	<p>Beton Kemmler GmbH - Hirschau</p>
</portfolio-my-vita>
<portfolio-my-vita scroll-animation="right" theme="vita__container--turquoise" position="vita__container--right"
	data-resources="[{paths: ['components/portfolio-my-vita/index.js']}]">
	<span class="vita__number">09/2014 - 08/2015</span>
	<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
		Bundesfrei- <br>
		willigendienst
	</portfolio-headline>
	<p>Klinik für Urologie - Tübingen, Verwaltung</p>
</portfolio-my-vita>
<portfolio-my-vita scroll-animation="left" theme="vita__container--white" position="vita__container--left"
	data-resources="[{paths: ['components/portfolio-my-vita/index.js']}]">
	<span class="vita__number"> 2006 - 2014</span>
	<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
		Allgemeine Hochschulreife
	</portfolio-headline>
	<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
</portfolio-my-vita>