<section style="height: 100vh; background:coral">
	<portfolio-arrow-nav text="Show More" data-resources="[{paths: ['components/portfolio-arrow-nav/index.js']}]"></portfolio-arrow-nav>
</section>
<section style="height: 100vh; background:coral">
</section>