<div style="
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	padding: 0 6%">
	<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
	<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
	<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
	<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
	<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
</div>