<portfolio-counter-nav data-resources="[{paths: ['components/portfolio-counter-nav/index.js']}]"></portfolio-counter-nav>
<section id="intro" style="height: 120vh">
	<h1>landing page</h1>
</section>
<section id="aboutMe" style="height: 100vh; background: grey">
	<h1>about me</h1>
</section>
<section id="timeline" style="height: 150vh; background: white">
	<h1>timeline 150 VH</h1>
</section>
<section id="contact" style="height: 100vh; background: grey">
	<h1>contact</h1>
</section>