<portfolio-navigation data-resources="[{paths: ['components/portfolio-navigation/index.js']}]"></portfolio-navigation>
<div id="landingPage" style="height: 100vh; background-color:grey">
    <div style="height: 100%; width: 100%; max-width: 1440px; margin:auto; background-color: green"></div>
</div>
<div id="aboutMe" style="height: 100vh"></div>
<div id="timeline" style="height: 100vh; background-color:grey"></div>
<div id="contact" style="height: 100vh">
    <div style="height: 100%; width: 100%; max-width: 1440px; margin:auto; background-color: green"></div>
</div>