@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("header-navigation") {
	.navHeader {
		top: 0;
		right: 0;
		z-index: 1;
		width: 100%;
		position: fixed;
		font-family: $font-family-bold;

		&__menu {
			top: 0;
			left: 0;
			margin: 0;
			z-index: 1;
			width: 100%;
			background: $white;
			padding: 60px 0 35px;
			position: absolute;
			transform: translateY(-100%);
			transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1);

			&.active {
				transform: translateY(0);
				color: $black;
				box-shadow: 0px -10px 15px 1px;
			}

			.navHeader__links {
				list-style: none;

				a {
					padding: 20px;
					color: $black;
					display: block;
					background: none;
					text-align: center;
					text-decoration: none;
					transition: background 0.2s ease-in-out;

					span {
						border-bottom: 2px solid $white;
						transition: border 0.2s ease-in-out;
					}

					&:hover,
					&:focus,
					&:active {
						span {
							border-bottom: 2px solid $red;
						}
					}
				}
			}
		}

		&__menu--toggle {
			top: 24px;
			z-index: 2;
			right: 12px;
			width: 22px;
			height: 2px; // If you have *{box-sizing:border-box} applied, you'll want to change this to 20px
			padding: 8px 0;
			cursor: pointer;
			border-radius: 50%;
			position: fixed;

			span {
				height: 2px;
				display: block;
				overflow: hidden;
				text-indent: 100%;
				background: $white;
				border-radius: 2px;
				white-space: nowrap;
				transition: background 0.3s ease-in-out;
			}

			&::before,
			&::after {
				left: 0;
				content: "";
				width: 22px;
				height: 2px;
				background: $white;
				border-radius: 2px;
				position: absolute;
				transform-origin: center center;
				transition: width 0.2s ease-in-out, background 0.2s ease-in-out,
					transform 0.2s ease-in-out, top 0.2s ease-in-out,
					bottom 0.2s ease-in-out, left 0.2s ease-in-out,
					right 0.2s ease-in-out;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			&.menu-open {
				span {
					background: rgba(255, 255, 255, 0);
				}
				&::before {
					top: 8px;
					transform: rotate(-45deg);
				}
				&::after {
					bottom: 8px;
					transform: rotate(45deg);
				}
				&::before,
				&::after {
					width: 26px;
					background: $black;
				}
				&:hover,
				&:focus,
				&:active {
					span {
						background: rgba(255, 255, 255, 0);
					}
					&::before {
						top: 8px;
						left: -3px;
						transform: rotate(-45deg);
					}
					&::after {
						left: 9px;
						bottom: 8px;
						transform: rotate(45deg);
					}
					&::before,
					&::after {
						width: 18px;
					}
				}
			}
			&:hover,
			&:focus,
			&:active {
				span {
					background: rgba(255, 255, 255, 0);
				}
				&::before {
					top: 8px;
					left: -3px;
					transform: rotate(45deg);
				}
				&::after {
					left: 9px;
					bottom: 8px;
					transform: rotate(-45deg);
				}
				&::before,
				&::after {
					width: 18px;
				}
			}
		}
	}
}
