<div style="background-color: black; padding: 40px">
	<button-link title="new button" modifier="btn--transparent" href="https://www.google.de/" data-resources="[{paths: ['components/ButtonLink/index.js']}]"></button-link>
</div>