@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-counter-nav") {
	.counter {
		position: fixed;
		margin: 6rem 0;
		top: 0;
		right: 2rem;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		transition: right $transition-default;

		@include breakpoint($medium) {
			right: 4rem;
		}

		&__item {
			line-height: 1;
			padding: 2rem 0;

			&:last-child {
				.counter__link {
					&::before {
						position: absolute;
						bottom: 1.9rem;
						left: 0;
						height: 0.1rem;
						width: 100%;
						margin-bottom: 2.4rem;
						content: "";
						background-color: $black;
					}

					&.whiteText, &.whiteTextScroll {
						&::before {
							background-color: $white;
						}
					}
				}
			}
		}

		&__link {
			position: relative;
			color: $black;
			text-decoration: none;
			font-size: 2rem;
			line-height: 2.5rem;

			&.whiteText, &.whiteTextScroll {
				color: $white;
			}

			&--active {
				color: $blue;
				transition: all $transition-default;
			}
		}
	}
}
