@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-counter-nav") {
	.counter {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		top: 0;
		bottom: 0;
		right: 6%;
		transition: right $transition-default;
		z-index: $z-index-counter;

		&--left {
			right: calc(94% - 2rem); // dont forget the size of the pageCounter itself
			transition: right $transition-default;
		}
		&__container {
			list-style: none;
			margin-block-start: 0;
			margin-block-end: 0;
			padding-inline-start: 0;
		}
		&__item {
			line-height: 1;
			padding: 2rem 0;


			&:first-child {
				.counter__link::after {
					position: absolute;
					bottom: -1.9rem;
					left: 0;
					height: 0.1rem;
					width: 100%;
					margin-top: 2rem;
					content: "";
					background-color: $white;
				}
			}
		}
		&__link {
			position: relative;
			color: $white;
			text-decoration: none;


			&--active {
				color: $red;
				transition: all $transition-default;
			}
		}
	}
}
