@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-counter-nav") {
	.counter {
		position: fixed;
		margin: 6rem 0;
		top: 0;
		right: 2rem;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		transition: right $transition-default;
		z-index: $z-index-counter;

		@include breakpoint ($medium) {
			right: 4rem;
		};

		&__item {
			line-height: 1;
			padding: 2rem 0;

			&:first-child {
				.counter__link::after {
					position: absolute;
					bottom: -1.9rem;
					left: 0;
					height: 0.1rem;
					width: 100%;
					margin-top: 2rem;
					content: "";
					background-color: $black;
				}
			}
		}
		&__link {
			position: relative;
			color: $black;
			text-decoration: none;


			&--active {
				color: $blue;
				transition: all $transition-default;
			}
		}
	}
}
