@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("heading-comp") {
	$h1-size: 8rem;
	$h2-size: 6rem;
	$h3-size: 4rem;
	$h4-size: 2rem;
	$h5-size: 1.7rem;

	.h1,
	.h2,
	.h3,
	.h4,
	.h5 {
		margin-top: 0.5rem;
		line-height: 1.2;
		font-family: "Gilroy-ExtraBold", sans-serif;

		&--styled {
			font-family: "Gilroy-Light", sans-serif;
			display: inline-block;
			margin-top: 1rem;
			line-height: 0.3;
			background-color: $turquoise;
		}
	}
	.h1 {
		margin-top: ($h1-size / 1.5 / 4);
		font-size: ($h1-size / 1.5);
		
		@include breakpoint ($medium){
			margin-top: ($h1-size / 1.25/ 4);
			font-size: ($h1-size / 1.25);
		}
		@include breakpoint($large) {
			margin-top: ($h1-size / 4);
			font-size: $h1-size;
		}

		&--styled {
			margin-top: ($h1-size / 2);
		}
	}
	.h2 {
		margin-top: ($h2-size / 1.5 / 4);
		font-size: ($h2-size / 1.5);

		@include breakpoint ($medium){
			margin-top: ($h2-size / 1.25/ 4);
			font-size: ($h2-size / 1.25);
		}
		@include breakpoint($large) {
			margin-top: ($h2-size / 4);
			font-size: $h2-size;
		}

		&--styled {
			margin-top: ($h2-size / 2);
		}
	}
	.h3 {
		margin-top: ($h3-size / 1.5 / 3);
		font-size: ($h3-size / 1.5);

		@include breakpoint ($medium){
			margin-top: ($h3-size / 1.25/ 4);
			font-size: ($h3-size / 1.25);
		}
		@include breakpoint($large) {
			margin-top: ($h3-size / 4);
			font-size: $h3-size;
		}

		&--styled {
			margin-top: ($h3-size / 2);
		}
	}
	.h4 {
		font-size: $h4-size;
	}
	.h5 {
		font-size: $h5-size;
	}
}
.accordion__date {
	display: inline-block;
	font-size: 2.7rem;
	line-height: 0.3;
	background: $turquoise;
	@include breakpoint($small) {
		font-size: 4rem;
	}
	@include breakpoint($medium) {
		font-size: 5rem;
	}
	@include breakpoint($large) {
		font-size: 6rem;
	}
}
