<div class="fullpage fullpage--center" style="background-color: black">
    <portfolio-loader style="margin: auto" data-resources="[{paths: ['components/portfolio-loader/index.js']}]"></portfolio-loader>
</div>