<div style="background-color:#000; height:100vh;"></div>
<div style="background-color:#fff; height:100vh;">
    <portfolio-timeline data-resources="[{paths: ['components/portfolio-timeline/index.js']}]">
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                2006 - 2014
            </p>
            <p slot="timeline__text">
                Allgemeine Hochschulreife<br>
                Eugen-Bolz-Gymnasium - Rottenburg
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item right
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2014 - 08/2015
            </p>
            <p slot="timeline__text">
                Bundesfreiwilligendienst<br>
                Klinik für Urologie - Tübingen, Verwaltung
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2015 - 06/2018
            </p>
            <p slot="timeline__text">
                Ausbildung zum Industriekaufmann<br>
                Beton Kemmler GmbH - Hirschau
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item right
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2019 - 02/2020
            </p>
            <p slot="timeline__text">
                Praxissemester<br>
                Virtual Identity AG - Freibrug
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2018 - Heute
            </p>
            <p slot="timeline__text">
                Bachelor of Science OnlineMedien<br>
                Hochschule für Digitale Medien in Furtwangen
            </p>
        </portfolio-timeline-item>
    </portfolio-timeline>
</div>
<div style="background-color:#000; height:100vh;"></div>