<div style="background-color:#000; height:100vh;"></div>
<div style="background-color:#fff; height:100vh;">
    <portfolio-timeline data-resources="[{paths: ['components/portfolio-timeline/index.js']}]">
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                2006 - 2014
            </p>
            <p slot="timeline__text">
                General qualification for university entrance<br>
                Eugen-Bolz-Gymnasium - Rottenburg
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item right
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2014 - 08/2015
            </p>
            <p slot="timeline__text">
                Federal voluntary service<br>
                Klinik für Urologie - Tübingen
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2015 - 06/2018
            </p>
            <p slot="timeline__text">
                Apprenticeship as an industrial salesman<br>
                Beton Kemmler GmbH - Hirschau
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item right
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2019 - 02/2020
            </p>
            <p slot="timeline__text">
                Practical study semester<br>
                Virtual Identity AG - Freibrug
            </p>
        </portfolio-timeline-item>
        <portfolio-timeline-item
            data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
            <p slot="timeline__date">
                09/2018 - today
            </p>
            <p slot="timeline__text">
                B.Sc. OnlineMedien<br>
                University of Furtwangen
            </p>
        </portfolio-timeline-item>
    </portfolio-timeline>
</div>
<div style="background-color:#000; height:100vh;"></div>