@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-headline") {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-block-start: 0;
		margin-block-end: 0;
		line-height: 1;

		&.half {
			font-family: $font-family-half-regular-regular;
			letter-spacing: 0.2rem;
		}

		&.halfInline {
			font-family: $font-family-half-inline-regular;
			letter-spacing: 0.2rem;
		}

		&.vertical {
			writing-mode: vertical-lr;
		}
	}

	h1 {
		font-size: 4.5rem;

		@include breakpoint($medium) {
			font-size: 8rem;
		}
	}

	h2 {
		font-size: 3.5rem;

		@include breakpoint($medium) {
			font-size: 7rem;
		}
		
		@include breakpoint ($wide) {
			font-size: 10rem
		}
	}

	h3 {
		font-size: 3rem;

		@include breakpoint($medium) {
			font-size: 6rem;
		}
	}

	h4 {
		font-size: 1.7rem;

		@include breakpoint($medium) {
			font-size: 2rem;
		}
	}
}
