@import "node_modules/@biotope/element/lib/host.mixin";


//Inspiration from 
//https://codepen.io/korney197823/pen/VwwNRGm

@include host("button-link") {
	a.btn {

		height: 40px;
		cursor: pointer;
		padding: 0 40px;
		border: none;
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		

		&--transparent{
			background-color: transparent;
			color: white;
		}
	}
}
