@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-about-me") {

    .aboutMe {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;

		@include breakpoint ($medium) {
			width: 70vw;
			max-width: $wide;
			margin: auto;
		}

		&__content {
			display: flex;
			width: 100%;
			color: $blue;
			background-color: $white;
			z-index: 1;
			max-width: $large;

			::slotted(portfolio-headline) {
				padding-top: 2rem;
			}

			::slotted(p) {
				padding: 2rem;
				color: $black;
				background-color: $white;

				@include breakpoint ($medium) {
					width: 50vw;
				}
			}
		}

		&__img {
			position: absolute;
			left: -2rem;
			width: 100%;
            height: 80vh;
			overflow: hidden;

			@include breakpoint ($medium) {
				left: unset;
				right: 0;
				width: 35vw;
			}

			img {
                width: 100%;
                height: 200%;
			}
		}
	}
}
