@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-about-me") {
    .scrollTrigger {
        height: 100%;
    }
    .aboutMe {
		display: flex;
		position: relative;
		height: 100%;
		justify-content: center;
		align-items: center;

		&__content {
			display: flex;
			color: $blue;
			width: 50vw;
			z-index: 1;

			::slotted(p) {
				padding: 2rem;
				color: $black;
				background-color: $white;
			}
		}

		&__img {
            position: absolute;
            right: 10%;
            width: 30vw;
            height: 80vh;
            overflow: hidden;

			img {
                width: 100%;
                height: 200%;
			}
		}
	}
}
