@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("portfolio-contact") {
	.contact {
		display: flex;
		height: 100%;

		&__content {
			width: 100%;
			margin: auto;
			padding: 2rem 1rem;
			z-index: 1;
			color: $white;

			@include breakpoint($medium) {
				width: 50%;
				margin: auto;
				padding: 0;
				color: $black;
			}
			::slotted(p) {
				padding: 1rem 0 2rem;

				@include breakpoint($wide) {
					padding: 2rem 0 4rem;
				}
			}

			::slotted(:last-child) {
				padding: 1rem 0 0;

				@include breakpoint($wide) {
					padding: 2rem 0 0;
				}
			}
		}

		&__img {
			position: absolute;
			left: 0;
			width: 100vw;
			max-height: 100vh;
			overflow: hidden;

			@include breakpoint($medium) {
				position: static;
				width: 50%;
				height: auto;
				margin: auto;
				transition: all 0.5s;
			}

			img {
				width: 100%;
				transition: all 0.4s;

				@include breakpoint($wide) {
					height: 100rem;
				}

				&:hover {
					transform: scale(1.1);
				}
			}
		}

		&__layer {

			@include breakpoint($medium) {
				display: none;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100vw;
				height: 100vh;
				background: rgba($color: #000000, $alpha: 0.6);
			}
		}
	}
}
