<main>
	<portfolio-cursor data-resources="[{paths: ['components/portfolio-cursor/index.js']}]"></portfolio-cursor>
	<section class="pageNotFound">
		<div class="pageNotFound__content">
			<div class="text__large">OHHH THATS AWKWARD!</div>
			<div class="text__medium">SOMETHING WENT WRONG <br>
			PLEASE RETURN TO <a href="/">MY SITE</a></div>
		</div>
		<div class="pageNotFound__background">
		</div>
	</section>
</main>
