<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<section class="contact grid grid__default">
	<div class="container center">
		<div class="fix-width">
			<card-component modifier="card__body--orange" data-resources="[{paths: ['components/CardComponent/index.js']}]">
			</card-component>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			christoph saile
		</div>
	</div>
</footer>