<header>
	<portfolio-header-nav data-resources="[{paths: ['components/portfolio-header-nav/index.js']}]"></portfolio-header-nav>
</header>
<section class="contact">
	<div class="svg svg__square animated fadeIn delay-06s">
		<img src="_assets/contact-background.svg" alt="background contact">
	</div>
	<div class="grid grid__default">
		<div class="container center animated fadeInUp delay-06s">

			<div class="fix-width">
				<ul class="contact__list">
					<li>
						<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
							Address
						</portfolio-headline>
					</li>
					<li>Christoph Saile</li>
					<li>Im Brühl 15</li>
					<li>72108 Rottenburg</li>
					<li>
						<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
							Phone
						</portfolio-headline>
					</li>
					<li>+49 1578 2278711</li>
					<li>
						<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
							E-Mail
						</portfolio-headline>
					</li>
					<li><a href="mailto:christoph.saile@googlemail.com">christoph.saile@<br>googlemail.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<portfolio-rocket has-bounce="true" data-resources="[{paths: ['components/portfolio-rocket/index.js']}]">
			</portfolio-rocket>
			<a class="brand" href="#">CS.</a>
		</div>
	</div>
</footer>