<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<section class="contact">
	<div class="grid grid__default">
		<div class="container center animated fadeInUp delay-06s">
			<div class="fix-width">
				<ul class="contact__list">
					<li>
						<heading-comp type="h3" text="Address"
							data-resources="[{paths: ['components/HeadingComp/index.js']}]">
						</heading-comp>
					</li>
					<li>Christoph Saile</li>
					<li>Im Brühl 15</li>
					<li>72108 Rottenburg</li>
					<li>
						<heading-comp type="h3" text="Phone"
							data-resources="[{paths: ['components/HeadingComp/index.js']}]">
						</heading-comp>
					</li>
					<li>+49 1578 2278711</li>
					<li>
						<heading-comp type="h3" text="E-Mail"
							data-resources="[{paths: ['components/HeadingComp/index.js']}]">
						</heading-comp>
					</li>
					<li><a href="mailto:christoph.saile@googlemail.com">christoph.saile@<br>googlemail.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<rocket-component has-bounce="true" data-resources="[{paths: ['components/RocketComponent/index.js']}]">
			</rocket-component>
			<a class="brand" href="#">CS.</a>
		</div>
	</div>
</footer>