<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<section class="contact grid grid__3col-2row">
	<div class="container center">
		<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]">
		</card-component>
	</div>
</section>
<footer>
	christoph saile
</footer>