<header>
	<portfolio-navigation data-resources="[{paths: ['components/portfolio-navigation/index.js']}]">
	</portfolio-navigation>
</header>
<main>
	<section id="intro" class="fullpage fullpage--center">
		<portfolio-intro data-resources="[{paths: ['components/portfolio-intro/index.js']}]"></portfolio-intro>
	</section>
	<section id="aboutMe" class="fullpage fullpage--center">
		<portfolio-about-me img-name="wood.jpg" img-alt="abstract wood"
			data-resources="[{paths: ['components/portfolio-about-me/index.js']}]">
			<portfolio-headline half vertical type="h2"
				data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				about Me
			</portfolio-headline>
			<p>
				Hello, my name is Christoph Saile and I am currently studying OnlineMedien (B.sc.) at the University of
				Furtwangen.<br>
				I am interested in webdevelopment, design and 3D - animations.<br>
				If you have any questions about me feel free to contact me.
			</p>
		</portfolio-about-me>
	</section>
	<section id="timeline" class="fullpage fullpage--center fullpage--autoLength">
		<portfolio-timeline data-resources="[{paths: ['components/portfolio-timeline/index.js']}]">
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					2006 - 2014
				</p>
				<p slot="timeline__text">
					Allgemeine Hochschulreife<br>
					Eugen-Bolz-Gymnasium - Rottenburg
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2014 - 08/2015
				</p>
				<p slot="timeline__text">
					Bundesfreiwilligendienst<br>
					Klinik f端r Urologie - T端bingen, Verwaltung
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2015 - 06/2018
				</p>
				<p slot="timeline__text">
					Ausbildung zum Industriekaufmann<br>
					Beton Kemmler GmbH - Hirschau
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2019 - 02/2020
				</p>
				<p slot="timeline__text">
					Praxissemester<br>
					Virtual Identity AG - Freibrug
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2018 - Heute
				</p>
				<p slot="timeline__text">
					Bachelor of Science OnlineMedien<br>
					Hochschule f端r Digitale Medien in Furtwangen
				</p>
			</portfolio-timeline-item>
		</portfolio-timeline>
	</section>
	<section id="contact" class="fullpage fullpage--center fullpage--reducedLength">
		<portfolio-accordion data-resources="[{paths: ['components/portfolio-accordion/index.js']}]">
			<portfolio-accordion-items
				data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
				<span slot="heading">adresse</span>
				<p slot="text">
					Christoph Saile <br>
					Im Br端hl 15 <br>
					72108 Rottenburg
				</p>
			</portfolio-accordion-items>
			<portfolio-accordion-items
				data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
				<span slot="heading">phone</span>
				<p slot="text">
					+49 1578 2278711
				</p>
			</portfolio-accordion-items>
			<portfolio-accordion-items
				data-resources="[{paths: ['components/portfolio-accordion/includes/portfolio-accordion-items/index.js']}]">
				<span slot="heading">e-mail</span>
				<p slot="text">
					christoph.saile@gmail.com
				</p>
			</portfolio-accordion-items>
		</portfolio-accordion>
	</section>
</main>
<footer id="footer">
	<portfolio-footer data-resources="[{paths: ['components/portfolio-footer/index.js']}]"></portfolio-footer>
</footer>