<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<section class="landingPage">
	<div class="grid grid__default">
		<div class="container">
			<h1>Portfolio - Christoph</h1>
			<h2>first page</h2>
			<p>test margin</p>
			<show-more data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
		</div>
	</div>
</section>
<section class="aboutMe">
	<div class="grid grid__default">
		<div class="container">
			<h2>second page</h2>
			<accordion-main data-resources="[{paths: ['components/AccordionMain/index.js']}]"></accordion-main>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<rocket-component class="center--text" data-resources="[{paths: ['components/RocketComponent/index.js']}]"></rocket-component>
		</div>
	</div>
</footer>