<header>
	<portfolio-navigation data-resources="[{paths: ['components/portfolio-navigation/index.js']}]">
	</portfolio-navigation>
</header>
<main>
		<section class="initLoader active">
		<div class="initLoader__intro">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432.97 496.74">
				<g id="Ebene_2" data-name="Ebene 2">
					<g id="Ebene_1-2" data-name="Ebene 1">
						<path class="cls-1"
							d="M51.06,59.46l22.31,0c5.66,0,10.24-4.33,10.24-9.66h0c0-5.34-4.59-9.67-10.25-9.67H51.06C20.49,40.09,0,58.74,0,86.55c0,28,20.49,46.63,51.06,46.63l22.36-.12c5.64,0,10.19-4.34,10.19-9.66v-.06c0-5.33-4.58-9.65-10.24-9.66l-22.31,0c-15.74-.53-26.15-11.19-26.15-27.09S35.32,60,51.06,59.46Z" />
						<path class="cls-1"
							d="M159.52,40.82l-28.28,0a2.4,2.4,0,0,1-2.47-2.33V4.68a2.4,2.4,0,0,0-2.47-2.33H107.21a2.4,2.4,0,0,0-2.47,2.33V129.91a2.4,2.4,0,0,0,2.47,2.33H126.3a2.4,2.4,0,0,0,2.47-2.33V65.39a5.42,5.42,0,0,1,5.57-5.26H151c13.42,0,22.26,7.66,22.26,19.32v50.46a2.4,2.4,0,0,0,2.47,2.33h19.08a2.4,2.4,0,0,0,2.47-2.33V75.79C197.31,54.86,182.2,40.9,159.52,40.82Z" />
						<path class="cls-1"
							d="M274.55,41.93H259.93a16.49,16.49,0,0,0-13.22,6.46,1.72,1.72,0,0,1-3.1-.88h0a4.17,4.17,0,0,0-4.27-3.92H224.63a4.17,4.17,0,0,0-4.28,4V86a1.68,1.68,0,0,0,1.72,1.62h22.31V85.22c0-28.74,26-22,32.82-22.42a1.69,1.69,0,0,0,1.63-1.65V46A4.16,4.16,0,0,0,274.55,41.93Z" />
						<path class="cls-1"
							d="M323,45V85.51h-24V45a3.64,3.64,0,0,1,3.74-3.53h16.54A3.64,3.64,0,0,1,323,45ZM308.48,26.65C318.92,28,326.3,21,324.92,11.16a13.26,13.26,0,0,0-11.58-11C303-1.14,295.43,6,296.8,15.74,297.6,21.39,302.48,25.91,308.48,26.65Z" />
						<path class="cls-2"
							d="M346.83,120.34l5.06-7.68a4.17,4.17,0,0,1,5.2-1.42,55.33,55.33,0,0,0,24.2,5c8.83,0,14.84-3.49,14.84-9s-6.72-8.49-16.26-10.82l-7.95-2c-16.07-4-27-9.83-27-24,0-17.82,14.84-29.64,37.46-29.64,12.49,0,23.37,2.16,32.16,6.69A3.73,3.73,0,0,1,416,53l-5.84,8.6A4.15,4.15,0,0,1,405,63a51.84,51.84,0,0,0-21.11-4.32c-8.65,0-14.66,3-14.66,8.16,0,5.32,6,7.82,14.31,9.82l7.95,2.17c16.25,4,29.15,11,29.15,26.81,0,17-15.9,28.31-39.75,28.31-12.89,0-24.52-2.77-33-8.43A3.69,3.69,0,0,1,346.83,120.34Z" />
						<path class="cls-1"
							d="M66.15,236.11H50.79a2.41,2.41,0,0,0-2.48,2.33V305a2.41,2.41,0,0,1-2.47,2.34H26.76A2.41,2.41,0,0,1,24.29,305v-66.6a2.41,2.41,0,0,0-2.48-2.33H6.8a2.41,2.41,0,0,1-2.47-2.34V220a2.41,2.41,0,0,1,2.47-2.34h15a2.41,2.41,0,0,0,2.48-2.33V206.2a2.4,2.4,0,0,1,2.47-2.33H45.84a2.4,2.4,0,0,1,2.47,2.33v9.09a2.41,2.41,0,0,0,2.48,2.33H66.15A2.41,2.41,0,0,1,68.63,220v13.81A2.41,2.41,0,0,1,66.15,236.11Z" />
						<path class="cls-1"
							d="M273.27,216.71H221.05a3.32,3.32,0,0,0-3.42,3.23V341.53a3.32,3.32,0,0,0,3.42,3.23h17.18a3.32,3.32,0,0,0,3.42-3.23V303.65c0-2.79,3.49-4.25,5.69-2.4,6.45,5.44,15,8.54,25.93,8.54,25.62,0,45.58-18.82,45.58-47C318.85,235,298.89,216.71,273.27,216.71Zm-5.47,73.6c-15.72,0-26.15-10.83-26.15-27.14V243a7.23,7.23,0,0,1,7.42-7h19.17v0c15.3.21,25.7,11,25.7,27C293.94,279.48,283.34,290.31,267.8,290.31Z" />
						<path class="cls-1"
							d="M363.19,265.49v-22a5.42,5.42,0,0,1,5.58-5.25h16.69c13.42,0,22.25,7.66,22.25,19.31v7.92h24V253.91c0-20.92-15.11-34.88-37.79-35l-28.29,0a2.4,2.4,0,0,1-2.47-2.33V182.8a2.4,2.4,0,0,0-2.47-2.33H341.64a2.4,2.4,0,0,0-2.47,2.33v82.69Z" />
						<path class="cls-1"
							d="M109.34,420.54h51.31a2,2,0,0,1,2.08,2v14.85a2,2,0,0,1-2.44,1.92,116.68,116.68,0,0,0-18.58-1.57c-23.78,0-39.62,10.79-40.38,27.39h24.88c.47-7.23,7.74-11.91,18.5-11.91A99.05,99.05,0,0,1,161,454.69a2,2,0,0,1,1.71,2,25.15,25.15,0,0,1-2,8.36h26.09v-60.4a2,2,0,0,0-2.08-2H109.34a2,2,0,0,0-2.08,2v13.9A2,2,0,0,0,109.34,420.54Z" />
						<path class="cls-1"
							d="M270.48,366h17.63a3.11,3.11,0,0,1,3.2,3V475.53a1.72,1.72,0,0,0,1.77,1.67H314a3.11,3.11,0,0,1,3.19,3v12.62a3.11,3.11,0,0,1-3.19,3H270.48a3.12,3.12,0,0,1-3.2-3V369A3.12,3.12,0,0,1,270.48,366Z" />
						<path class="cls-1"
							d="M433,448.59c0-27.14-19.08-45.13-47.52-45.13-28.62,0-47.52,18.82-47.52,47.13,0,27.64,19.43,46,48.58,46,0,0,34,1,43.39-24.27a3.22,3.22,0,0,0-3.22-4.19H409.45a30.23,30.23,0,0,1-23.29,10.63c-12.47,0-19.44-6.37-22-16.76a3.25,3.25,0,0,1,3.31-3.89h61.81a3.3,3.3,0,0,0,3.36-2.86C432.81,453.09,433,450.73,433,448.59Zm-65.55-5.83a3.25,3.25,0,0,1-3.31-3.89c2.73-11.24,9.89-17.59,21.34-17.59,11.64,0,19,6.38,21.58,17.65a3.25,3.25,0,0,1-3.32,3.83Z" />
						<path class="cls-2"
							d="M6.21,482.66,11.28,475a4.16,4.16,0,0,1,5.19-1.42,55.53,55.53,0,0,0,24.2,5c8.83,0,14.84-3.5,14.84-9s-6.71-8.49-16.25-10.82l-7.95-2c-16.08-4-27-9.83-27-24,0-17.82,14.84-29.64,37.45-29.64,12.5,0,23.37,2.15,32.16,6.69a3.73,3.73,0,0,1,1.46,5.44l-5.84,8.6a4.17,4.17,0,0,1-5.09,1.41A51.77,51.77,0,0,0,43.32,421c-8.65,0-14.66,3-14.66,8.16,0,5.33,6,7.83,14.31,9.83l8,2.16c16.25,4,29.15,11,29.15,26.81,0,17-15.9,28.31-39.75,28.31-12.89,0-24.52-2.76-33-8.42A3.7,3.7,0,0,1,6.21,482.66Z" />
						<path class="cls-1"
							d="M241.75,407.29v40.52h-24V407.29a3.65,3.65,0,0,1,3.75-3.53H238A3.64,3.64,0,0,1,241.75,407.29ZM227.27,389c10.43,1.3,17.81-5.65,16.43-15.49a13.24,13.24,0,0,0-11.57-11c-10.33-1.3-17.92,5.85-16.54,15.59C216.39,383.69,221.27,388.2,227.27,389Z" />
						<path class="cls-2"
							d="M93,266.39c0-27.81,20.49-46.46,51.05-46.46,30.39,0,50.88,18.65,50.88,46.46,0,28-20.49,46.62-50.88,46.62C113.47,313,93,294.36,93,266.39Zm77,0c0-16.32-10.42-27.15-26-27.15-15.72,0-26.15,10.83-26.15,27.15s10.43,27.14,26.15,27.14C159.58,293.53,170,282.7,170,266.39Z" />
					</g>
				</g>
			</svg>
		</div>
	</section>
	<section id="intro" class="fullpage fullpage--center">
		<portfolio-intro data-resources="[{paths: ['components/portfolio-intro/index.js']}]"></portfolio-intro>
	</section>
	<section id="aboutMe" class="fullpage fullpage--center">
		<portfolio-about-me img-name="aboutMe.jpg" img-alt="abstract wood"
			data-resources="[{paths: ['components/portfolio-about-me/index.js']}]">
			<portfolio-headline half type="h2" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				about Me
			</portfolio-headline>
			<p>
				Hello, my name is Christoph Saile and I am currently studying OnlineMedien (B.Sc.) at the University of
				Furtwangen.<br>
				<br>
				I am interested in webdevelopment, design and 3D - animations.<br>
				If you have any questions about me feel free to <a href="#contact"
					style="color: #25d366; font-weight: 700">contact
					me</a>.
			</p>
		</portfolio-about-me>
	</section>
	<section id="timeline" class="fullpage fullpage--center fullpage--autoLength">
		<portfolio-timeline img-name="timeline.svg" img-alt="timeline"
			data-resources="[{paths: ['components/portfolio-timeline/index.js']}]">
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					2006 - 2014
				</p>
				<p slot="timeline__text">
					General qualification for university entrance<br>
					Eugen-Bolz-Gymnasium - Rottenburg
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2014 - 08/2015
				</p>
				<p slot="timeline__text">
					Federal voluntary service<br>
					Klinik für Urologie - Tübingen
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2015 - 06/2018
				</p>
				<p slot="timeline__text">
					Apprenticeship as an industrial salesman<br>
					Beton Kemmler GmbH - Hirschau
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2019 - 02/2020
				</p>
				<p slot="timeline__text">
					Practical study semester<br>
					Virtual Identity AG - Freibrug
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2018 - today
				</p>
				<p slot="timeline__text">
					B.Sc. OnlineMedien<br>
					University of Furtwangen
				</p>
			</portfolio-timeline-item>
		</portfolio-timeline>
	</section>
	<section id="contact" class="fullpage fullpage--center">
		<portfolio-contact img-name="contact.jpg" img-alt="telephone booth"
			data-resources="[{paths: ['components/portfolio-contact/index.js']}]">
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				adresse
			</portfolio-headline>
			<p>
				Christoph Saile <br>
				Im Brühl 15 <br>
				72108 Rottenburg
			</p>
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				phone
			</portfolio-headline>
			<p>
				+49 1578 2278711
			</p>
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				e-mail
			</portfolio-headline>
			<p>
				christoph.saile@gmail.com
			</p>
		</portfolio-contact>
	</section>
</main>
<footer id="footer">
	<portfolio-footer data-resources="[{paths: ['components/portfolio-footer/index.js']}]"></portfolio-footer>
</footer>