<header>
	<portfolio-navigation data-resources="[{paths: ['components/portfolio-navigation/index.js']}]">
	</portfolio-navigation>
</header>
<main>
	<section id="intro" class="fullpage fullpage--center">
		<portfolio-intro data-resources="[{paths: ['components/portfolio-intro/index.js']}]"></portfolio-intro>
	</section>
	<section id="aboutMe" class="fullpage fullpage--center">
		<portfolio-about-me img-name="aboutMe.jpg" img-alt="abstract wood"
			data-resources="[{paths: ['components/portfolio-about-me/index.js']}]">
			<portfolio-headline half type="h2" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				about Me
			</portfolio-headline>
			<p>
				Hello, my name is Christoph Saile and I am currently studying OnlineMedien (B.Sc.) at the University of
				Furtwangen.<br>
				<br>
				I am interested in webdevelopment, design and 3D - animations.<br>
				If you have any questions about me feel free to <a href="#contact"
					style="color: #25d366; font-weight: 700">contact
					me</a>.
			</p>
		</portfolio-about-me>
	</section>
	<section id="timeline" class="fullpage fullpage--center fullpage--autoLength">
		<portfolio-timeline img-name="timeline.svg" img-alt="timeline"
			data-resources="[{paths: ['components/portfolio-timeline/index.js']}]">
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					2006 - 2014
				</p>
				<p slot="timeline__text">
					General qualification for university entrance<br>
					Eugen-Bolz-Gymnasium - Rottenburg
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2014 - 08/2015
				</p>
				<p slot="timeline__text">
					Federal voluntary service<br>
					Department of Urology - Tuebingen
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2015 - 06/2018
				</p>
				<p slot="timeline__text">
					Apprenticeship as an industrial salesman<br>
					Beton Kemmler GmbH - Hirschau
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item right
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2019 - 02/2020
				</p>
				<p slot="timeline__text">
					Practical study semester<br>
					Virtual Identity AG - Freibrug
				</p>
			</portfolio-timeline-item>
			<portfolio-timeline-item
				data-resources="[{paths: ['components/portfolio-timeline/includes/portfolio-timeline-item/index.js']}]">
				<p slot="timeline__date">
					09/2018 - today
				</p>
				<p slot="timeline__text">
					B.Sc. OnlineMedien<br>
					University of Furtwangen
				</p>
			</portfolio-timeline-item>
		</portfolio-timeline>
	</section>
	<section id="contact" class="fullpage fullpage--center">
		<portfolio-contact img-name="contact.jpg" img-alt="telephone booth"
			data-resources="[{paths: ['components/portfolio-contact/index.js']}]">
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				address
			</portfolio-headline>
			<p>
				Christoph Saile <br>
				Im Brühl 15 <br>
				72108 Rottenburg
			</p>
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				phone
			</portfolio-headline>
			<p>
				+49 1578 2278711
			</p>
			<portfolio-headline type="h3" half data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
				e-mail
			</portfolio-headline>
			<p>
				christoph.saile@gmail.com
			</p>
		</portfolio-contact>
	</section>
</main>
<footer id="footer">
	<portfolio-footer data-resources="[{paths: ['components/portfolio-footer/index.js']}]"></portfolio-footer>
</footer>