<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<h1>
	Portfolio - Christoph
</h1>
<footer>
	christoph saile</br>
	christoph saile
</footer>