<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<page-counter second-anchor="#aboutMe" data-resources="[{paths: ['components/PageCounter/index.js']}]"></page-counter>
<show-more text="My Story" data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
<section class="landingPage">
	<div class="svg svg__centerDots">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.32 73.51">
			<g id="Ebene_2" data-name="Ebene 2">
				<g id="OBJECTS">
					<path class="cls-1" d="M584,496.78a.69.69,0,1,1-.69.69A.69.69,0,0,1,584,496.78Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M579.18,460.5a.69.69,0,1,1-.69.69A.69.69,0,0,1,579.18,460.5Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M612,471.6a.7.7,0,1,1-.69.69A.69.69,0,0,1,612,471.6Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M569.58,509.66a.69.69,0,1,1-.69.69A.69.69,0,0,1,569.58,509.66Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M598.47,489.55a.69.69,0,1,1-.69.69A.69.69,0,0,1,598.47,489.55Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M592.1,460.13a.69.69,0,1,1-.7.69A.69.69,0,0,1,592.1,460.13Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M562.49,446.73a.69.69,0,1,1-.69.69A.69.69,0,0,1,562.49,446.73Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M585.75,443.31a.69.69,0,1,1-.69.69A.69.69,0,0,1,585.75,443.31Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M569.16,474.24a.69.69,0,1,1-.69.69A.69.69,0,0,1,569.16,474.24Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M543.87,488.3a.69.69,0,1,1-.69.69A.69.69,0,0,1,543.87,488.3Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M612.89,464a.69.69,0,1,1-.7.69A.69.69,0,0,1,612.89,464Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M590.74,454.48a.69.69,0,1,1-.69.69A.69.69,0,0,1,590.74,454.48Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.05,448.64a.69.69,0,1,1-.69.69A.69.69,0,0,1,570.05,448.64Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.15,462.64a.69.69,0,1,1-.69.69A.69.69,0,0,1,570.15,462.64Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M579.91,498.94a.69.69,0,1,1-.69.69A.69.69,0,0,1,579.91,498.94Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M615.37,476.28a.69.69,0,1,1-.69.69A.69.69,0,0,1,615.37,476.28Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M565,510a.69.69,0,1,1-.69.69A.69.69,0,0,1,565,510Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M598.2,471.52a.69.69,0,1,1-.69.69A.69.69,0,0,1,598.2,471.52Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M584,503.59a.69.69,0,1,1-.69.69A.69.69,0,0,1,584,503.59Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M595.54,496.86a.69.69,0,1,1-.69.69A.69.69,0,0,1,595.54,496.86Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M554,499.52a.69.69,0,1,1-.69.69A.69.69,0,0,1,554,499.52Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M558.83,506.92a.69.69,0,1,1-.69.69A.69.69,0,0,1,558.83,506.92Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M593.14,443.8a.69.69,0,1,1-.69.69A.69.69,0,0,1,593.14,443.8Z"
						transform="translate(-540.74 -440.08)" />
					<circle class="cls-1" cx="29.39" cy="52.72" r="0.69" />
					<path class="cls-1" d="M584.12,464.71a.69.69,0,1,1-.69.69A.69.69,0,0,1,584.12,464.71Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M566.65,461.26a.7.7,0,1,1-.69.7A.69.69,0,0,1,566.65,461.26Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M583.73,469.31a.69.69,0,1,1-.69.69A.69.69,0,0,1,583.73,469.31Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M592.67,452.86a.69.69,0,1,1-.69.69A.69.69,0,0,1,592.67,452.86Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M543.07,481.32a.69.69,0,1,1-.69.69A.69.69,0,0,1,543.07,481.32Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M581.28,474.64a.7.7,0,1,1-.69.7A.69.69,0,0,1,581.28,474.64Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M588.81,504.64a.69.69,0,1,1,0,1.38.69.69,0,1,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M574.47,494.24a.69.69,0,1,1-.69.69A.69.69,0,0,1,574.47,494.24Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M591.28,491.45a.69.69,0,1,1-.69.69A.69.69,0,0,1,591.28,491.45Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M573.61,479.1a.69.69,0,1,1-.7.69A.69.69,0,0,1,573.61,479.1Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M551.31,460.08a.69.69,0,1,1-.69.69A.69.69,0,0,1,551.31,460.08Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.8,440.09a.69.69,0,1,1-.69.69A.69.69,0,0,1,570.8,440.09Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M557.34,457.8a.7.7,0,1,1-.69.7A.69.69,0,0,1,557.34,457.8Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M554.65,485.89a.69.69,0,1,1-.69.69A.69.69,0,0,1,554.65,485.89Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M596.89,477.56a.69.69,0,1,1-.69.69A.69.69,0,0,1,596.89,477.56Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M567,456.49a.69.69,0,1,1-.69.69A.69.69,0,0,1,567,456.49Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M589.83,474.66a.69.69,0,1,1-.69.69A.69.69,0,0,1,589.83,474.66Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M556.26,463.52a.69.69,0,1,1-.69.69A.69.69,0,0,1,556.26,463.52Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M565.54,475.4a.69.69,0,1,1-.69.69A.69.69,0,0,1,565.54,475.4Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M580.61,455.92a.69.69,0,1,1-.69.69A.69.69,0,0,1,580.61,455.92Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M607.92,464.15a.69.69,0,1,1-.69.69A.69.69,0,0,1,607.92,464.15Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M593.58,449.63a.69.69,0,1,1-.69.69A.69.69,0,0,1,593.58,449.63Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M545.58,469.65a.69.69,0,1,1-.69.69A.69.69,0,0,1,545.58,469.65Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M600.78,462.05a.7.7,0,1,1-.69.69A.69.69,0,0,1,600.78,462.05Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M608.18,476.51a.69.69,0,1,1-.69.69A.69.69,0,0,1,608.18,476.51Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M552.44,475.61a.69.69,0,1,1-.69.69A.69.69,0,0,1,552.44,475.61Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M587,508.61a.69.69,0,1,1-.69.69A.69.69,0,0,1,587,508.61Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M596.05,454.86a.69.69,0,1,1-.69.69A.69.69,0,0,1,596.05,454.86Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M576.5,510.08a.69.69,0,1,1-.69.69A.69.69,0,0,1,576.5,510.08Z"
						transform="translate(-540.74 -440.08)" />
					<circle class="cls-1" cx="53.23" cy="47.74" r="0.69" />
					<path class="cls-1" d="M613.29,482.24a.69.69,0,1,1-.7.69A.69.69,0,0,1,613.29,482.24Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M574.94,456.38a.69.69,0,1,1-.69.69A.69.69,0,0,1,574.94,456.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M555.32,468.33a.69.69,0,1,1-.69.69A.69.69,0,0,1,555.32,468.33Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M573.48,465.67a.69.69,0,1,1-.69.69A.69.69,0,0,1,573.48,465.67Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M598.46,493a.7.7,0,1,1-.69.7A.69.69,0,0,1,598.46,493Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M560.31,443.8a.7.7,0,1,1-.69.69A.69.69,0,0,1,560.31,443.8Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M548.69,484a.69.69,0,1,1-.69.69A.69.69,0,0,1,548.69,484Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M583.89,476a.69.69,0,1,1-.69.69A.69.69,0,0,1,583.89,476Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M604.29,454a.69.69,0,1,1-.69.69A.69.69,0,0,1,604.29,454Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1"
						d="M598.34,495.81a.69.69,0,0,1,.69.7.69.69,0,0,1-1.38,0A.69.69,0,0,1,598.34,495.81Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M547.2,478.87a.69.69,0,1,1-.69.69A.69.69,0,0,1,547.2,478.87Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M569.3,497.94a.7.7,0,1,1-.69.7A.69.69,0,0,1,569.3,497.94Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M600.23,504.26a.69.69,0,0,1,0,1.38.69.69,0,1,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M574.4,450.37a.69.69,0,1,1-.69.69A.69.69,0,0,1,574.4,450.37Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M582.8,507.23a.69.69,0,1,1-.69.69A.69.69,0,0,1,582.8,507.23Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M603.57,497.31a.69.69,0,1,1-.69.69A.69.69,0,0,1,603.57,497.31Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M542.32,475a.69.69,0,1,1-.69.69A.69.69,0,0,1,542.32,475Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M592.52,479.76a.69.69,0,1,1-.69.69A.69.69,0,0,1,592.52,479.76Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M564,452.17a.69.69,0,1,1-.69.69A.69.69,0,0,1,564,452.17Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M571.29,443.49a.69.69,0,1,1-.69.69A.69.69,0,0,1,571.29,443.49Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M607,469.52a.69.69,0,1,1-.69.69A.69.69,0,0,1,607,469.52Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M554.33,493.22a.69.69,0,1,1-.69.69A.69.69,0,0,1,554.33,493.22Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M602.06,479.55a.7.7,0,1,1-.69.69A.69.69,0,0,1,602.06,479.55Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.05,483.32a.69.69,0,1,1-.7.69A.69.69,0,0,1,570.05,483.32Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M606,482.12a.69.69,0,1,1-.69.69A.69.69,0,0,1,606,482.12Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M559.59,496.62a.69.69,0,1,1-.69.69A.69.69,0,0,1,559.59,496.62Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M587.11,453.49a.69.69,0,1,1-.69.69A.69.69,0,0,1,587.11,453.49Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M552.17,488.6a.69.69,0,1,1-.69.69A.69.69,0,0,1,552.17,488.6Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M572.85,507.38a.69.69,0,1,1-.69.69A.69.69,0,0,1,572.85,507.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M582.4,466.68a.69.69,0,1,1-.69.69A.69.69,0,0,1,582.4,466.68Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M602.42,474.86a.69.69,0,1,1-.69.69A.69.69,0,0,1,602.42,474.86Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M600.8,449.64a.69.69,0,1,1-.69.69A.69.69,0,0,1,600.8,449.64Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M559.17,453.57a.69.69,0,1,1-.7.69A.69.69,0,0,1,559.17,453.57Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M562.09,460.13a.69.69,0,1,1-.69.69A.69.69,0,0,1,562.09,460.13Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M541.43,467.88a.69.69,0,1,1-.69.69A.69.69,0,0,1,541.43,467.88Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M586.06,470.11a.69.69,0,1,1-.69.69A.69.69,0,0,1,586.06,470.11Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M585.63,460.85a.69.69,0,1,1-.69.69A.69.69,0,0,1,585.63,460.85Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M565.8,502.49a.69.69,0,1,1,0,1.38.69.69,0,1,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M551.18,472a.69.69,0,1,1-.69.69A.69.69,0,0,1,551.18,472Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M592.16,501.08a.69.69,0,1,1-.69.69A.69.69,0,0,1,592.16,501.08Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M578.91,466.57a.7.7,0,1,1-.69.69A.69.69,0,0,1,578.91,466.57Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M589.37,440.37a.7.7,0,1,1-.69.7A.69.69,0,0,1,589.37,440.37Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M590.84,464.83a.69.69,0,1,1-.69.69A.69.69,0,0,1,590.84,464.83Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M561.28,502.74a.69.69,0,1,1-.69.69A.69.69,0,0,1,561.28,502.74Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M577.83,505.29a.7.7,0,1,1-.69.69A.69.69,0,0,1,577.83,505.29Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M559.83,474.77a.69.69,0,1,1-.69.69A.69.69,0,0,1,559.83,474.77Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M597.87,465.23a.69.69,0,1,1-.69.69A.69.69,0,0,1,597.87,465.23Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M589.52,512.21a.69.69,0,1,1-.69.69A.69.69,0,0,1,589.52,512.21Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M602,469.06a.69.69,0,1,1-.7.69A.69.69,0,0,1,602,469.06Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M588.69,486.52a.69.69,0,1,1-.69.69A.69.69,0,0,1,588.69,486.52Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M552.33,479.51a.69.69,0,1,1-.69.69A.69.69,0,0,1,552.33,479.51Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M558.27,479.23a.69.69,0,1,1-.69.69A.69.69,0,0,1,558.27,479.23Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M554.61,452.73a.69.69,0,1,1-.69.69A.69.69,0,0,1,554.61,452.73Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M565.82,492.19a.69.69,0,1,1-.69.69A.69.69,0,0,1,565.82,492.19Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.63,453.42a.69.69,0,1,1-.69.69A.69.69,0,0,1,570.63,453.42Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M591.45,496.22a.7.7,0,1,1-.69.7A.69.69,0,0,1,591.45,496.22Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M603.1,486.26a.69.69,0,1,1-.69.69A.69.69,0,0,1,603.1,486.26Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M575.64,501.5a.69.69,0,1,1,0,1.38.69.69,0,1,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1"
						d="M601.68,499.4a.69.69,0,0,1,.69.69.69.69,0,1,1-1.38,0A.69.69,0,0,1,601.68,499.4Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M577.22,477.61a.69.69,0,1,1-.69.69A.69.69,0,0,1,577.22,477.61Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M584.69,490.18a.69.69,0,1,1-.69.69A.69.69,0,0,1,584.69,490.18Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M574.35,486.07a.69.69,0,1,1-.69.69A.69.69,0,0,1,574.35,486.07Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M575.06,490.83a.69.69,0,1,1-.69.69A.69.69,0,0,1,575.06,490.83Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M555.85,502.65a.69.69,0,1,1-.69.69A.69.69,0,0,1,555.85,502.65Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M571.83,473.4a.69.69,0,1,1-.69.69A.69.69,0,0,1,571.83,473.4Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M570.44,512.21a.69.69,0,1,1-.69.69A.69.69,0,0,1,570.44,512.21Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M577.89,448.39a.69.69,0,1,1-.69.69A.69.69,0,0,1,577.89,448.39Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M576.46,441.35a.7.7,0,1,1-.69.7A.69.69,0,0,1,576.46,441.35Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M613.36,489.27a.69.69,0,1,1-.69.69A.69.69,0,0,1,613.36,489.27Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M547.64,489.37a.69.69,0,1,1-.69.69A.69.69,0,0,1,547.64,489.37Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M563.37,479.74a.69.69,0,1,1-.7.69A.69.69,0,0,1,563.37,479.74Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M546.64,474.55a.7.7,0,1,1-.69.69A.69.69,0,0,1,546.64,474.55Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M604.1,458.63a.69.69,0,1,1-.69.69A.69.69,0,0,1,604.1,458.63Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M564.84,443.11a.69.69,0,1,1-.69.69A.69.69,0,0,1,564.84,443.11Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M589.28,447.1a.69.69,0,1,1,0,1.38.69.69,0,1,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M562.9,496.61a.69.69,0,1,1-.69.69A.69.69,0,0,1,562.9,496.61Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M584.73,485.06a.69.69,0,1,1-.69.69A.69.69,0,0,1,584.73,485.06Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M582.91,452.3a.69.69,0,1,1-.69.69A.69.69,0,0,1,582.91,452.3Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M589.72,483.8a.69.69,0,1,1-.69.69A.69.69,0,0,1,589.72,483.8Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M556.07,448a.69.69,0,1,1-.69.69A.69.69,0,0,1,556.07,448Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M549,465a.69.69,0,1,1-.69.69A.69.69,0,0,1,549,465Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M549.72,455.61a.69.69,0,1,1-.69.69A.69.69,0,0,1,549.72,455.61Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M593.39,471.74a.69.69,0,1,1-.7.69A.69.69,0,0,1,593.39,471.74Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M604.47,502.41a.69.69,0,1,1-.69.69A.69.69,0,0,1,604.47,502.41Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M552.29,450a.7.7,0,1,1-.69.7A.69.69,0,0,1,552.29,450Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M567.87,470.31a.69.69,0,1,1-.69.69A.69.69,0,0,1,567.87,470.31Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M595.31,504.57a.69.69,0,1,1-.69.69A.69.69,0,0,1,595.31,504.57Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M580.06,445a.69.69,0,1,1-.69.69A.69.69,0,0,1,580.06,445Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M563.74,467a.7.7,0,1,1-.69.7A.69.69,0,0,1,563.74,467Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M561.58,485.65a.69.69,0,1,1-.69.69A.69.69,0,0,1,561.58,485.65Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M588.1,499.33a.69.69,0,1,1-.69.69A.69.69,0,0,1,588.1,499.33Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M546.36,459.35a.7.7,0,1,1-.69.69A.69.69,0,0,1,546.36,459.35Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M576.5,471.05a.69.69,0,1,1-.69.69A.69.69,0,0,1,576.5,471.05Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M562.2,490a.69.69,0,1,1-.69.69A.69.69,0,0,1,562.2,490Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M598.76,446.19a.69.69,0,1,1-.69.69A.69.69,0,0,1,598.76,446.19Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M544.76,463.49a.7.7,0,1,1-.69.69A.69.69,0,0,1,544.76,463.49Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M566.82,485.72a.69.69,0,1,1-.69.69A.69.69,0,0,1,566.82,485.72Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M580.33,493.38a.69.69,0,1,1-.69.69A.69.69,0,0,1,580.33,493.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M608.7,496.84a.69.69,0,1,1-.69.69A.69.69,0,0,1,608.7,496.84Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M581.35,440.08a.7.7,0,1,1-.69.7A.69.69,0,0,1,581.35,440.08Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M611,460.22a.69.69,0,1,1-.69.69A.69.69,0,0,1,611,460.22Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M613.28,485.36a.69.69,0,1,1-.69.69A.69.69,0,0,1,613.28,485.36Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M547.94,494.45a.69.69,0,1,1-.69.69A.69.69,0,0,1,547.94,494.45Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M580.79,482.13a.7.7,0,1,1-.69.69A.69.69,0,0,1,580.79,482.13Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M615.17,469.18a.69.69,0,1,1-.69.69A.69.69,0,0,1,615.17,469.18Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M608.45,486.61a.69.69,0,1,1,0,1.38.69.69,0,0,1,0-1.38Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M607.93,493.26a.7.7,0,1,1-.69.7A.69.69,0,0,1,607.93,493.26Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M600.85,457a.69.69,0,1,1-.69.69A.69.69,0,0,1,600.85,457Z"
						transform="translate(-540.74 -440.08)" />
					<path class="cls-1" d="M579.73,487.7a.69.69,0,1,1-.69.69A.69.69,0,0,1,579.73,487.7Z"
						transform="translate(-540.74 -440.08)" />
				</g>
			</g>
		</svg>
	</div>
	<div class="grid grid__default">
		<div class="container center animated fadeInUp delay-06s">
			<heading-comp type="h1" text="Christoph" second-line="Saile"
				data-resources="[{paths: ['components/HeadingComp/index.js']}]">
			</heading-comp>
		</div>
</section>

<section id="aboutMe" class="aboutMe">
	<div class="svg svg__top">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.85 81.69">
			<g id="Ebene_2" data-name="Ebene 2">
				<g id="object">
					<polygon class="cls-1"
						points="124.57 49.82 103.59 33.29 82.6 49.82 61.62 33.29 40.63 49.82 19.66 33.3 0.72 49.54 0 48.7 19.63 31.88 40.63 48.42 61.62 31.89 82.6 48.42 103.59 31.89 124.57 48.42 145.56 31.89 166.55 48.42 187.54 31.89 208.52 48.42 229.51 31.89 250.84 48.69 250.16 49.55 229.51 33.29 208.52 49.82 187.54 33.29 166.55 49.82 145.56 33.29 124.57 49.82" />
					<polygon class="cls-1"
						points="124.57 81.69 103.59 65.17 82.6 81.69 61.62 65.17 40.63 81.69 19.66 65.18 0.72 81.41 0 80.58 19.63 63.75 40.63 80.29 61.62 63.76 82.6 80.29 103.59 63.76 124.57 80.29 145.56 63.76 166.55 80.29 187.54 63.76 208.52 80.29 229.51 63.76 250.84 80.56 250.16 81.43 229.51 65.17 208.52 81.69 187.54 65.17 166.55 81.69 145.56 65.17 124.57 81.69" />
					<polygon class="cls-1"
						points="124.57 17.94 103.59 1.41 82.6 17.94 61.62 1.41 40.63 17.94 19.66 1.43 0.72 17.66 0 16.82 19.63 0 40.63 16.54 61.62 0.01 82.6 16.54 103.59 0.01 124.57 16.54 145.56 0.01 166.55 16.54 187.54 0.01 208.52 16.54 229.51 0.01 250.84 16.81 250.16 17.68 229.51 1.41 208.52 17.94 187.54 1.41 166.55 17.94 145.56 1.41 124.57 17.94" />
				</g>
			</g>
		</svg>
	</div>
	<div class="svg svg__bottom">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.85 81.69">
			<g id="Ebene_2" data-name="Ebene 2">
				<g id="object">
					<polygon class="cls-1"
						points="124.57 49.82 103.59 33.29 82.6 49.82 61.62 33.29 40.63 49.82 19.66 33.3 0.72 49.54 0 48.7 19.63 31.88 40.63 48.42 61.62 31.89 82.6 48.42 103.59 31.89 124.57 48.42 145.56 31.89 166.55 48.42 187.54 31.89 208.52 48.42 229.51 31.89 250.84 48.69 250.16 49.55 229.51 33.29 208.52 49.82 187.54 33.29 166.55 49.82 145.56 33.29 124.57 49.82" />
					<polygon class="cls-1"
						points="124.57 81.69 103.59 65.17 82.6 81.69 61.62 65.17 40.63 81.69 19.66 65.18 0.72 81.41 0 80.58 19.63 63.75 40.63 80.29 61.62 63.76 82.6 80.29 103.59 63.76 124.57 80.29 145.56 63.76 166.55 80.29 187.54 63.76 208.52 80.29 229.51 63.76 250.84 80.56 250.16 81.43 229.51 65.17 208.52 81.69 187.54 65.17 166.55 81.69 145.56 65.17 124.57 81.69" />
					<polygon class="cls-1"
						points="124.57 17.94 103.59 1.41 82.6 17.94 61.62 1.41 40.63 17.94 19.66 1.43 0.72 17.66 0 16.82 19.63 0 40.63 16.54 61.62 0.01 82.6 16.54 103.59 0.01 124.57 16.54 145.56 0.01 166.55 16.54 187.54 0.01 208.52 16.54 229.51 0.01 250.84 16.81 250.16 17.68 229.51 1.41 208.52 17.94 187.54 1.41 166.55 17.94 145.56 1.41 124.57 17.94" />
				</g>
			</g>
		</svg>
	</div>
	<div class="grid grid__autoHeigth">
		<div class="container">
			<heading-comp type="h2" text="About Me" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
			</heading-comp>
			<my-vita scroll-animation="animation-fade-in-left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2018 - Heute</span>
				<heading-comp type="h3" text="Bachelor of Science OnlineMedien"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
				<p>Hochschule für Digitale Medien in Furtwangen</p>
			</my-vita>
			<my-vita scroll-animation="animation-fade-in-right" theme="vita__container--turquoise"
				position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2019 - 02/2020</span>
				<heading-comp type="h3" text="Praxissemester"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
				<p>Virtual Identity AG - Freibrug</p>
			</my-vita>
			<my-vita scroll-animation="animation-fade-in-left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2015 - 06/2018</span>
				<heading-comp type="h3" text="Ausbildung zum Industriekaufmann"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
				<p>Beton Kemmler GmbH - Hirschau</p>
			</my-vita>
			<my-vita scroll-animation="animation-fade-in-right" theme="vita__container--turquoise"
				position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2014 - 08/2015</span>
				<heading-comp type="h3" text="Bundesfrei-" second-line="willigendienst"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
				<p>Klinik für Urologie - Tübingen, Verwaltung</p>
			</my-vita>
			<my-vita scroll-animation="animation-fade-in-left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number"> 2006 - 2014</span>
				<heading-comp type="h3" text="Allgemeine Hochschulreife"
					data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				</heading-comp>
				<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
			</my-vita>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<rocket-component has-bounce="true" data-resources="[{paths: ['components/RocketComponent/index.js']}]">
			</rocket-component>
			<a class="brand" href="#">CS.</a>
		</div>
	</div>
</footer>