<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<h1>
	Portfolio - Christoph
</h1>
<footer>
	<p>Christoph Saile</p>
	<p>Christoph Saile</p>
</footer>