<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<main>
	<section class="landingPage frame">
		<div class="container container__fullPage">
			<h1>Portfolio - Christoph</h1>
			<h2>first page</h2>
			<p>test margin</p>
			<show-more data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
		</div>
	</section>
	<section class="aboutMe frame">
		<div class="container container__fullPage">
			<h2>second page</h2>
			<accordion-main data-resources="[{paths: ['components/AccordionMain/index.js']}]"></accordion-main>
		</div>
	</section>
</main>
<footer class="frame">
	christoph saile</br>
	christoph saile
</footer>