<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<page-counter second-anchor="#aboutMe" data-resources="[{paths: ['components/PageCounter/index.js']}]"></page-counter>
<show-more text="My Story" data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
<section class="landingPage">
	<div class="svg svg__centerDots animated fadeIn delay-06s">
		<img src="_assets/landingPage-background.svg" alt="background dots">
	</div>
	<div class="grid grid__default">
		<div class="container center animated fadeInUp delay-06s">
			<heading-comp type="h1" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				quick <br>
				test
			</heading-comp>
		</div>
</section>

<section id="aboutMe" class="aboutMe">
	<div class="svg svg__top">
		<img src="_assets/aboutMe-background.svg" alt="background lines">
	</div>
	<div class="svg svg__bottom">
		<img src="_assets/aboutMe-background.svg" alt="background lines">
	</div>
	<div class="grid grid__autoHeigth">
		<div class="container">
			<heading-comp type="h2" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
				About Me
			</heading-comp>
			<my-vita scroll-animation="left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2018 - Heute</span>
				<heading-comp type="h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					Bachelor of Science OnlineMedien
				</heading-comp>
				<p>Hochschule für Digitale Medien in Furtwangen</p>
			</my-vita>
			<my-vita scroll-animation="right" theme="vita__container--turquoise"
				position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2019 - 02/2020</span>
				<heading-comp type="h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					Praxissemester
				</heading-comp>
				<p>Virtual Identity AG - Freibrug</p>
			</my-vita>
			<my-vita scroll-animation="left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2015 - 06/2018</span>
				<heading-comp type="h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					Ausbildung zum Industriekaufmann
				</heading-comp>
				<p>Beton Kemmler GmbH - Hirschau</p>
			</my-vita>
			<my-vita scroll-animation="right" theme="vita__container--turquoise"
				position="vita__container--right" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number">09/2014 - 08/2015</span>
				<heading-comp type="h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					Bundesfrei- <br>
					willigendienst
				</heading-comp>
				<p>Klinik für Urologie - Tübingen, Verwaltung</p>
			</my-vita>
			<my-vita scroll-animation="left" theme="vita__container--white"
				position="vita__container--left" data-resources="[{paths: ['components/MyVita/index.js']}]">
				<span class="vita__number"> 2006 - 2014</span>
				<heading-comp type="h3" data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					Allgemeine Hochschulreife
				</heading-comp>
				<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
			</my-vita>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<rocket-component has-bounce="true" data-resources="[{paths: ['components/RocketComponent/index.js']}]">
			</rocket-component>
			<a class="brand" href="#">CS.</a>
		</div>
	</div>
</footer>