<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<page-counter second-anchor="#prog" switch-sides data-resources="[{paths: ['components/PageCounter/index.js']}]">
</page-counter>
<show-more text="Show More" data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
<section id="cg" class="cg">
	<div class="grid grid__default">

		<div class="container animated fadeInUp delay-06s">
			<div class="grid grid__2col">
				<div>
					<heading-comp type="h2" text="3D - Animation"
						data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					</heading-comp>
					<new-accordion modifier="accordion--coral"
						data-resources="[{paths: ['components/NewAccordion/index.js']}]">
						<article class="accordion__item">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Semesterprojekt"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 7.0"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 6.0"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 5.0"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 4.0"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 3.0"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
						<article class="accordion__item hidden">
							<header class="accordion__header">
								<span class="accordion__icon"></span>
								<heading-comp no-margin type="h4" text="Aufgabe 2.2"
									data-resources="[{paths: ['components/HeadingComp/index.js']}]">
								</heading-comp>
							</header>
							<div class="accordion__body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
									quisquam ex!
									Illo,
									soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus
									beatae
									consequuntur
									adipisci. Ipsum, impedit.</p>
							</div>
						</article>
					</new-accordion>
				</div>
				<div class="svg svg__triangle">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 82.02 109">
						<defs>
							<pattern id="_10_lpp_20_" data-name="10 lpp 20%" width="72" height="72"
								patternTransform="matrix(0.88, -0.88, -0.88, -0.88, -98.84, -92.95)"
								patternUnits="userSpaceOnUse" viewBox="0 0 72 72">
								<rect class="cls-1" width="72" height="72" />
								<line class="cls-2" x1="71.75" y1="68.4" x2="144.25" y2="68.4" />
								<line class="cls-2" x1="71.75" y1="54" x2="144.25" y2="54" />
								<line class="cls-2" x1="71.75" y1="39.6" x2="144.25" y2="39.6" />
								<line class="cls-2" x1="71.75" y1="25.2" x2="144.25" y2="25.2" />
								<line class="cls-2" x1="71.75" y1="10.8" x2="144.25" y2="10.8" />
								<line class="cls-2" x1="71.75" y1="61.2" x2="144.25" y2="61.2" />
								<line class="cls-2" x1="71.75" y1="46.8" x2="144.25" y2="46.8" />
								<line class="cls-2" x1="71.75" y1="32.4" x2="144.25" y2="32.4" />
								<line class="cls-2" x1="71.75" y1="18" x2="144.25" y2="18" />
								<line class="cls-2" x1="71.75" y1="3.6" x2="144.25" y2="3.6" />
								<line class="cls-2" x1="-0.25" y1="68.4" x2="72.25" y2="68.4" />
								<line class="cls-2" x1="-0.25" y1="54" x2="72.25" y2="54" />
								<line class="cls-2" x1="-0.25" y1="39.6" x2="72.25" y2="39.6" />
								<line class="cls-2" x1="-0.25" y1="25.2" x2="72.25" y2="25.2" />
								<line class="cls-2" x1="-0.25" y1="10.8" x2="72.25" y2="10.8" />
								<line class="cls-2" x1="-0.25" y1="61.2" x2="72.25" y2="61.2" />
								<line class="cls-2" x1="-0.25" y1="46.8" x2="72.25" y2="46.8" />
								<line class="cls-2" x1="-0.25" y1="32.4" x2="72.25" y2="32.4" />
								<line class="cls-2" x1="-0.25" y1="18" x2="72.25" y2="18" />
								<line class="cls-2" x1="-0.25" y1="3.6" x2="72.25" y2="3.6" />
								<line class="cls-2" x1="-72.25" y1="68.4" x2="0.25" y2="68.4" />
								<line class="cls-2" x1="-72.25" y1="54" x2="0.25" y2="54" />
								<line class="cls-2" x1="-72.25" y1="39.6" x2="0.25" y2="39.6" />
								<line class="cls-2" x1="-72.25" y1="25.2" x2="0.25" y2="25.2" />
								<line class="cls-2" x1="-72.25" y1="10.8" x2="0.25" y2="10.8" />
								<line class="cls-2" x1="-72.25" y1="61.2" x2="0.25" y2="61.2" />
								<line class="cls-2" x1="-72.25" y1="46.8" x2="0.25" y2="46.8" />
								<line class="cls-2" x1="-72.25" y1="32.4" x2="0.25" y2="32.4" />
								<line class="cls-2" x1="-72.25" y1="18" x2="0.25" y2="18" />
								<line class="cls-2" x1="-72.25" y1="3.6" x2="0.25" y2="3.6" />
							</pattern>
						</defs>
						<title>Element 4</title>
						<g class="cls-3">
							<g id="Ebene_2" data-name="Ebene 2">
								<g id="BACKGROUND">
									<polygon class="cls-4" points="41.01 71.04 0 0 82.03 0 41.01 71.04" />
									<polygon class="cls-5" points="41.01 109 0 37.96 82.03 37.96 41.01 109" />
								</g>
							</g>
						</g>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="prog" class="prog">
	<div class="grid grid__default">
		<div class="container animated fadeInUp delay-06s">
			<div class="grid grid__2col grid__2col--right">
				<div class="svg svg__poly">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.16 114.02">
						<g id="Ebene_2" data-name="Ebene 2">
							<g id="BACKGROUND">
								<polygon class="cls-1"
									points="1 56.43 33.58 75.24 66.16 56.43 66.16 18.81 33.58 0 1 18.81 1 56.43" />
								<polygon class="cls-2"
									points="1 94.05 33.58 112.86 66.16 94.05 66.16 56.43 33.58 37.62 1 56.43 1 94.05" />
							</g>
						</g>
					</svg>
				</div>
				<new-accordion class="right" modifier="accordion--turquoise"
					data-resources="[{paths: ['components/NewAccordion/index.js']}]">
					<heading-comp type="h2" text="Programming"
						data-resources="[{paths: ['components/HeadingComp/index.js']}]">
					</heading-comp>
					<article class="accordion__item">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 6.2"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 6.1"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 5.0"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 4.0"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 3.2"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 3.1"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
					<article class="accordion__item hidden">
						<header class="accordion__header">
							<span class="accordion__icon"></span>
							<heading-comp no-margin type="h4" text="Aufgabe 2.0"
								data-resources="[{paths: ['components/HeadingComp/index.js']}]">
							</heading-comp>
						</header>
						<div class="accordion__body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque natus, molestiae nemo
								quisquam ex!
								Illo,
								soluta, laudantium. Ullam facere voluptate eum sequi, cupiditate incidunt natus beatae
								consequuntur
								adipisci. Ipsum, impedit.</p>
						</div>
					</article>
				</new-accordion>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="grid grid__default">
		<div class="container">
			<rocket-component has-bounce="true" data-resources="[{paths: ['components/RocketComponent/index.js']}]">
			</rocket-component>
			<a class="brand" href="#">CS.</a>
		</div>
	</div>
</footer>