<header>
	<header-navigation data-resources="[{paths: ['components/HeaderNavigation/index.js']}]"></header-navigation>
</header>
<main>
	<section class="cg frame">
		<div class="container container__fullPage">
			<h1>3D Modelling</h1>
			<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
			<show-more data-resources="[{paths: ['components/ShowMore/index.js']}]"></show-more>
		</div>
	</section>
	<section class="prog frame">
		<div class="container container__fullPage">
			<h2>programming</h2>
			<card-component data-resources="[{paths: ['components/CardComponent/index.js']}]"></card-component>
		</div>
	</section>
</main>
<footer class="frame">
	christoph saile</br>
	christoph saile
</footer>