<portfolio-accordion-vertical data-resources="[{paths: ['components/portfolio-accordion-vertical/index.js']}]">
	<div class="accordion__item expand">
		<p class="accordion__date">09/2018 - Heute</p>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Bachelor of Science OnlineMedien
		</portfolio-headline>
		<p>Hochschule für Digitale Medien in Furtwangen</p>
	</div>
	<div class="accordion__item">
		<p class="accordion__date">09/2019 - 02/2020</p>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Praxissemester
		</portfolio-headline>
		<p>Virtual Identity AG - Freibrug</p>
	</div>
	<div class="accordion__item">
		<p class="accordion__date">09/2015 - 06/2018</p>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Ausbildung zum Industriekaufmann
		</portfolio-headline>
		<p>Beton Kemmler GmbH - Hirschau</p>
	</div>
	<div class="accordion__item">
		<p class="accordion__date">09/2014 - 08/2015</p>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Bundesfreiwilligendienst
		</portfolio-headline>
		<p>Klinik für Urologie - Tübingen, Verwaltung</p>
	</div>
	<div class="accordion__item">
		<p class="accordion__date"> 2006 - 2014</p>
		<portfolio-headline type="h3" data-resources="[{paths: ['components/portfolio-headline/index.js']}]">
			Allgemeine Hochschulreife
		</portfolio-headline>
		<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
	</div>
</portfolio-accordion-vertical>