@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";
@import "../../resources/scss/animations/animated";

@include host("my-vita") {
	.vita {
		color: $black;
		margin-top: 3rem;

		&__container {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-top: 1rem;
			padding: 1rem;

			&:hover {
				transform: scale(1.05);
				.vita__number {
					background-color: $red;
				}
			}

			@include breakpoint($small) {
				width: 55%;
				margin-top: 2rem;
				padding: 3rem;
			}
			&--left {
				margin-right: auto;
				box-shadow: 3px 3px 7px #0000001a;
			}
			&--right {
				margin-left: auto;
				align-items: flex-end;
				text-align: right;
				box-shadow: 3px 3px 7px #0000001a;
			}
			&--white {
				background: $white;
			}

			&--turquoise {
				background: $turquoise;

				& .vita__number {
					background-color: $white;
				}
			}
		}
		&__number {
			display: inline-block;
			width: fit-content;
			margin-bottom: (4rem / 1.5 / 2);
			margin-top: (4rem / 1.5 / 2);
			font-size: (4rem / 1.5);
			line-height: 0.4;
			background-color: $turquoise;
			transition: all $transition-default;

			&:hover {
				background-color: $red;
			}

			@include breakpoint($medium) {
				margin-top: (4rem / 1.25/ 2);
				font-size: (4rem / 1.25);
			}
			@include breakpoint($large) {
				margin-top: (4rem / 2);
				font-size: 4rem;
			}
		}
	}
}
