<section style="height: 100vh">
	<page-counter data-resources="[{paths: ['components/PageCounter/index.js']}]"></page-counter>
	<h1 id="cs">CS</h1>
</section>
<section style="height: 100vh; background: grey">
	<h1 id="aboutMe">aboutMe</h1>
</section>