{{!-- 
page-counter options:

	switch-sides: boolean
	after the first sectoin the counter jumps to the left

	first-anchors: string
	set anchor of first link

	second-anchors: string
	set anchor of second link 
--}}

<page-counter switch-sides first-anchor="#" second-anchor="#aboutMe" data-resources="[{paths: ['components/PageCounter/index.js']}]"></page-counter>
<section style="height: 100vh">
	<h1 id="cs">CS</h1>
</section>
<section style="height: 100vh; background: grey">
	<h1 id="aboutMe">aboutMe</h1>
</section>