<accordion-main data-resources="[{paths: ['components/AccordionMain/index.js']}]">
	<accordion-item class="accordion__item expand">
		<p class="accordion__date">09/2018 - Heute</p>
		<heading-comp type="h3" text="Bachelor of Science OnlineMedien"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<p>Hochschule für Digitale Medien in Furtwangen</p>
	</accordion-item>
	<accordion-item class="accordion__item">
		<p class="accordion__date">09/2019 - 02/2020</p>
		<heading-comp type="h3" text="Praxissemester"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<p>Virtual Identity AG - Freibrug</p>
	</accordion-item>
	<accordion-item class="accordion__item">
		<p class="accordion__date">09/2015 - 06/2018</p>
		<heading-comp type="h3" text="Ausbildung zum Industriekaufmann"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<p>Beton Kemmler GmbH - Hirschau</p>
	</accordion-item>
	<accordion-item class="accordion__item">
		<p class="accordion__date">09/2014 - 08/2015</p>
		<heading-comp type="h3" text="Bundesfreiwilligendienst"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<p>Klinik für Urologie - Tübingen, Verwaltung</p>
	</accordion-item>
	<accordion-item class="accordion__item">
		<p class="accordion__date"> 2006 - 2014</p>
		<heading-comp type="h3" text="Allgemeine Hochschulreife"
			data-resources="[{paths: ['components/HeadingComp/index.js']}]">
		</heading-comp>
		<p>Eugen-Bolz-Gymnasium - Rottenburg</p>
	</accordion-item>
</accordion-main>